fastapi
uvicorn
python-dotenv
pydantic
agno
together
opencv-python-headless
mediapipe
deepface
librosa
moviepy
faster-whisper
websockets
redis
sse-starlette
celery
motor
pymongo
passlib[bcrypt]
python-multipart
google-generativeai
email-validator
argon2-cffi
tensorflow>=2.13.0
keras>=2.13.0
scipy
numpy
scikit-learn
h5py
openai>=1.0.0
